* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: black;
}


/*********** GRID ***********/
.grid{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-flow: row dense;
}
.grid-element{
	background: white;
	border: 10px solid black;
	height: 200px;
}


/*********** SIZES ***********/
.big{
  grid-row: span 2;
	height: auto;
}
.xbig{
	grid-row: span 3;
	height: auto;
}
.xxbig{
	grid-row: span 4;
	height: auto;
}
.wide{
	grid-column: span 2;
}
.xwide{
	grid-column: span 3;
}


/*********** COLORS ***********/
.red{
	background: red;
}
.blue{
	background: blue;
}
.yellow{
	background: yellow;
}
.black{
	background: black;
}


/*********** BEAKPOINTS ***********/
@media screen and (min-width: 800px){
		.grid{
		grid-template-columns: 33.3% 33.3% 33.3%;
	}
	.grid-element{
		height: 220px;
	}
	.big{
		grid-row: span 2;
		height: auto;
	}
	.xbig{
		grid-row: span 3;
		height: auto;
	}
	.xxbig{
		grid-row: span 4;
		height: auto;
	}
	.wide{
		grid-column: span 2;
	}
	.xwide{
		grid-column: span 3;
	}
}

@media screen and (min-width: 1400px){
		.grid{
		grid-template-columns: 25% 25% 25% 25%;
	}
	.grid-element{
		height: 320px;
	}
	.big{
		grid-row: span 2;
		height: auto;
	}
	.xbig{
		grid-row: span 3;
		height: auto;
	}
	.xxbig{
		grid-row: span 4;
		height: auto;
	}
	.wide{
		grid-column: span 2;
	}
	.xwide{
		grid-column: span 3;
	}
}